#categories-content {
    margin-left: 260px;
    margin-top: 72px;
    width: calc(100% - 260px);
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    position: relative;
}
#categories-content .overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
#categories-content .overlay.show {
    display: block;
}
#categories-content .row {
    padding: 20px 50px;
    width: 100%;
}

#categories-content .page-title-section .page-title {
    padding: 0 0 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

#categories-content .page-title-section .page-title h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0;
    color: slategray;
}

#categories-content .row .categories-section {
    padding: 0;
}
#categories-content .categories-section a {
    background: white;
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
#categories-content .categories-section a .avatar-image {
    display: flex;
}
#categories-content .categories-section a .avatar-image span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background: blue;
}
#categories-content .categories-section a .category-details {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-width: 0;
}
#categories-content .categories-section a .category-details .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#categories-content .categories-section a .category-details .title h5 {
    margin: 0;
    font-size: 0.90rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#categories-content .categories-section a .category-details .title span {
    margin-left: 5px;
}
#categories-content .categories-section a .category-details small {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px 0px;
}